<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/poba_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/poba_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoBaTest"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <activity
            android:name=".Beallitasok.BeallitasokErtesitesekActivity"
            android:exported="false" />
        <activity
            android:name=".Webshopok.ApikulcsActivity"
            android:exported="false" />
        <activity
            android:name=".Webshopok.WebShopokActivity"
            android:exported="false" />
        <activity
            android:name=".Webshopok.WebshopAdapter"
            android:exported="false" />
        <activity
            android:name=".JelszoValtoztatasActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilBeallitasokActivity"
            android:exported="false" />
        <activity
            android:name=".BeallitasokActivity"
            android:exported="false" />
        <activity
            android:name=".Ertesites.ErtesitesekActivity"
            android:exported="false" />
        <activity
            android:name=".Termek.EgyikTermekActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Termek.TermekekActivity"
            android:exported="false" />
        <activity
            android:name=".Rendeles.EgyikRendelesActivity"
            android:exported="false" />
        <activity
            android:name=".Bejelentkezes.EgyszeriBelepesActivity"
            android:exported="false" />
        <activity
            android:name=".Rendeles.RendelesActivity"
            android:exported="false" />
        <activity
            android:name=".FoActivity"
            android:exported="false" />
        <activity
            android:name=".Bejelentkezes.BejelentkezesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>